{% extends 'ClientProductsBundle::layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        <div class="control-group">
            {{ form_label(form.title, null,{'label_attr' : {'class' : 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.title) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.shortDesc, null,{'label_attr' : {'class' : 'control-label'}}) }}
            <div class="controls">
                {{ form_widget(form.shortDesc) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.price, null, {'label_attr': {'class' : 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.price) }}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Send me" class="btn btn-primary" />
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}