{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/client/css/bootstrap.css" />
        <link rel="stylesheet" href="/bundles/client/css/style.css" />
    {% endblock stylesheets %}

    {% block scripts %}
        <script src="/bundles/client/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/bundles/client/js/bootstrap.js" type="text/javascript"></script>
    {% endblock scripts %}
    <title>{% block title "SomeTitle" %}</title>
{% endblock head %}


{% block body %}
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}