<form action="{{ path('client_login_form_check') }}" method="POST">
    <div>
        Login:
        <input type="text" name="_username" />
    </div>
    <div>
        Password:
        <input type="password" name="_password" />
    </div>

    <div>
        <input type="submit" />
    </div>
</form>