{% extends 'ClientProductsBundle::layout.html.twig' %}

{% block content %}
    {{ include(
        'ClientProductsBundle:Form:layout.html.twig',
        {'form' : form}
    ) }}
{% endblock content %}