{% extends "ClientProductsBundle::layout.html.twig" %}

{% block content %}
    <a href="{{ path('client_products_create') }}" class="btn btn-primary">Create</a>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for value in item_list %}
                <tr>
                    <td>{{ value.id }}</td>
                    <td><a href="{{ path('client_products_show', {'id' : value.id}) }}">{{ value.title }}</a></td>
                    <td>{{ value.price }}</td>
                    <td>
                        <a href="{{ path('client_products_update', {'id' : value.id}) }}" class="btn btn-info">Update</a> &nbsp;
                        <a href="{{ path('client_products_remove', {'id' : value.id}) }}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}