{% extends "ClientProductsBundle::layout.html.twig" %}

{% block content %}
    <div class="control-group">
        id: {{ record.id }}
    </div>

    <div class="control-group">
        title: {{ record.title }}
    </div>

    <div class="control-group">
        shortDesc: {{ record.shortDesc }}
    </div>

    <div class="control-group">
        price: {{ record.price }}
    </div>

    <a href="{{ path('client_products_list') }}" class="btn btn-primary">Back</a>
{% endblock content %}